@import "tailwindcss";

@theme {
    --color-primary: #0876C4;
    --color-secondary: #F0F6FC;
    --color-pink-light: #D81B70;
    --color-pink-secondary: #F9F0FA;
    --color-green-secondary: #F0F9F0;
    --color-green-primary: #5CB85C;
    --color-deep-blue: #0A1A44;
}